.container{
    position:relative;
    display: flex;
    padding-top: 98px;
    width: 100%;

}

.divisoria{
    position: relative; 
    width: 100%;
    display: flex;
    height: 50px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #f0f0f5;
    justify-content: center;
    padding-top: 10px;

}

.fildset{
    border-top: 1.2px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    text-align: center;
    margin: -4px;
}

legend{
    padding: 5px 10px;
    font: 400 22px Roboto, sans-serif;
}

.horizontal-line{
    position: absolute;
    width: 469px;
    height: 0px;
    background: #FFFFFF;
    border: 1.2px solid #FFFFFF;
    box-shadow: 0px 0.5px 0.5px rgba(255,255,255);
    transform: rotate(179.77deg);
    display: flex;
    padding: 0 50%;

}

.container-center{
    float: left;
    position: relative;
    width: 100%;

}

.vitrineHome{
    float: left;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    padding-top: 45px;
}

.vitrineHome .banner{
    margin-right: 14px;
    border-radius: 10px;
}


.vitrineHome .banner img{
    width: 251.83px;
    height: 344.76px;
    margin: 10px;
    display: flex;
    border-radius: 10px;
}

.vitrineHome .banner img:hover{
    box-shadow:
    1px 1px #f2f2f2,
    2px 2px #f2f2f2,
    3px 3px #f2f2f2;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    cursor: pointer;
}

.vitrineHome ul{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 14px;
    list-style: none;
    border-radius: 22px;
    justify-content: space-between;    
    
}

.vitrineHome .vitrineMaisVendidos{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 14px;
    list-style: none;
    border-radius: 22px;
    justify-content: space-between;    
    
}

.vitrineHome ul li{
    padding: 24px;
    border-radius: 10px;
    position: relative;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 96%;
    display: flex;
    justify-content: center;
    width: 251.83px;
    height: 344.76px;
    margin: 10px;
}

.vitrineHome ul li:hover
{
        box-shadow:
        1px 1px #f2f2f2,
        2px 2px #f2f2f2,
        3px 3px #f2f2f2;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        cursor: pointer;
        opacity: 1;
}

.vitrineHome .descricao{
    position: absolute;
    color: #f0f0f5;
    display: flex;
    opacity: 95%;
    font: 400 10px Roboto, sans-serif;
    height: 20px;
}

.vitrineHome .preco{
    color: #f0f0f5;
    position: absolute;
    font: 400 16px Roboto, sans-serif;
    height: 20px;
    margin-top: 105%;

}

.vitrineHome .imagem{
    position: absolute;
    width: 147.9px;
    height: 134.91px;
    box-sizing: border-box;
    margin-top: 30%;
}

.vitrineHome .heart-icon{
    position: absolute;
    width: 54px;
    height: 48px;
    background: #f0f0f5;
    border-radius: 80px;
    -moz-border-radius: 80px;
    -webkit-border-radius:80px;
    display: flex;
    justify-content: center;
    margin-top: 109%;
    margin-left: 44%;


}

